@import "../../utils/variables/variable";

.forgot {
  &__form {
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &-navigation {
      font-size: 1.6rem;
      color: $white-color;

      & span {
        color: $primary-color;
        cursor: pointer;
      }
    }
  }
}
