$bg-color: #070a11;
$primary-color: #4add39;
$primary-light-color: #2f1273;
$primary-dark-color: #0b0f17;
$hover-color: #201b1c;
$white-color: hsl(0, 0%, 81%);
$primary-font: "Dosis", sans-serif;
$headline-font: "Jost", sans-serif;
